/* MENU */
/* Grandement inspriré de : http://www.jqueryscript.net/menu/Minimalist-Dropdown-Navigation-Menu-Plugin-With-jQuery.html*/

.menu-container {
    width: 1080px;
    height: 30px;
    background: #0C4CE8;
    font-family: corbel;
    text-align: center;
}
ul.menu{
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
ul.menu li {
    float: left;
    padding: 5px;
    list-style: none;
    width: 80px;
    height: 20px;
    text-align: left;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
}
ul.menu li:hover {
    color: #fff;
    text-decoration: none;
}

/*element caché*/
ul.menu ul {
    background: #0069BD;
    position: relative;
    top: 15px;
    display: none;
    width: 70px;
    right: 15px;
    margin-top: -13px; /*Colle le sous menu au menu*/
}
ul.menu ul li {
    float: none;
    position: relative;
    left: -40px;
    padding: 5px 15px 5px 15px;
    border-top: 1px solid #fff;
    /*width:150px;*/
}

.current {
    background-color: #0069BD;
}

.with-child::after {
    content: '\25be';
    color: #ffffff;
}
