body
{
    margin: 0 !important;
    padding: 0 !important;
}
#container
{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6bb4ff;
  box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
  -moz-box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
  -webkit-box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
}
header
{
  background-image: url("./header.png");
  height: 200px;
  font-weight: bold;
  font-family: inherit;
}
#logo
{
  position: absolute;
  left: 500px;
  top: 100px;
  font-size: 3em;
  color: #58ffeb;
}
#menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #144c75;
  text-align: center;
}
#menu a:hover
{
  background-color: #436b88;
}
#menu li
{
  display: inline;
  height: 30px;
  font-size: 20px;
  vertical-align: middle;
}
#menu, #menu a
{
  color: #46b1ff;
}
#imageIntro
{
  width: 100px;
  float: right;
}
#imageIntro:active
{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 90%;
  width: auto;
}
.blockTitle
{
  width: 100%;
  font-size: 25px;
  text-align: center;
  background-color: #42709e;
  font-weight: bold;
}
