body {
    margin: 0 !important;
    padding: 0 !important;
}

.main {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0CC0E8;
    box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
    -moz-box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
    -webkit-box-shadow: 0px 0px 70px 50px rgba(119, 119, 119, 0.7);
}

header {
    background-image: url("./header.png");
    height: 200px;
    font-weight: bold;
    font-family: inherit;
}

.logo {
    position: relative;
    left: 50px;
    top: 100px;
    font-size: 3em;
    color: #0DFFEA;
}

.imageIntro {
    width: 100px;
    float: right;
}

.imageIntro:active {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90%;
    width: auto;
}

.blockTitle {
    width: 100%;
    font-size: 25px;
    text-align: center;
    background-color: #008DFF;
    font-weight: bold;
}

dl {
    background-color: #008DFF;
    margin: 0px;
}

footer {
    background-color: #0B45D4;
    color: #4CAFFF;
    text-align: center;
}

.errorForm{
  color: rgb(251, 153, 38);
}
input,textarea{
    border-radius: 5px;
    background-color: rgba(32, 32, 32, 0.08);
    border-color: rgba(80, 80, 80, 0.63);
}
input:focus,textarea:focus{
  box-shadow: 0px 0px 3px 3px rgba(91, 102, 153, 0.77);
  -moz-box-shadow: 0px 0px 3px 3px rgba(91, 102, 153, 0.77);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(91, 102, 153, 0.77);
}
.ui-state-valid>input,.ui-state-valid>textarea
{
  border-color: green;
  background-color: rgba(164, 255, 173, 1);
  background-image: url("./valid.png");
  background-position: right;
  background-repeat: no-repeat;
}
.ui-state-invalid>input,.ui-state-invalid>textarea{
  border-color: red;
  background-color: rgba(255, 0, 25, 0.1);
  background-image: url("./invalid.png");
  background-position: right;
  background-repeat: no-repeat;
}
.submit, .submit:focus{
  background-color: rgb(228, 255, 96);
  box-shadow: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
}
#go-top-container {
    display: inline-block;
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    opacity: 1;
    background-color: #002A7F;
    border-radius: 20px 20px 5px 5px;
    text-align: center;
    color: #4C88FF;
}

#go-top {
    display: inline-block;
    padding-top: 10px;
}

.red
{
  color: red;
}
